html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

#footer
{
    background-color:grey;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:30px;
    margin-bottom:0px;
}
div{
    margin:20px 20px;
	size:6px;
}
body
{
    margin-bottom:30px;
}