html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

background-image {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}


#footer
{
    background-color:grey;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:30px;
    margin-bottom:0px;
}
div{
    margin:20px 20px;
	size:6px;
}
body
{
    margin-bottom:30px;
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}