
#footer
{
    background-color:grey;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:30px;
    margin-bottom:0px;
}
div{
    margin:20px 20px;
	size:6px;
}
body
{
    margin-bottom:30px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}