
#footer
{
    background-color:red;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:50px;
    margin-bottom:0px;
}
div{
    margin:20px 20px;
}
body
{
    margin-bottom:50px;
}